<!DOCTYPE html>
<html lang="en">
<head>
	<title>MONEYVOL</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap" rel="stylesheet">

	<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/stylesheets/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
<!--===============================================================================================-->
<!--	<link rel="stylesheet" type="text/css" href="./fonts/font-awesome-4.7.0/css/font-awesome.min.css">-->
<!-- =============================================================================================== -->
<!--	<link rel="stylesheet" type="text/css" href="./fonts/Linearicons-Free-v1.0.0/icon-font.min.css">-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/stylesheets/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/util.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main2.css">
	<link rel="stylesheet" href="/stylesheets/gangnamstyle.css">
	<!-- <link rel="stylesheet" href="/stylesheets/potterstyle.css"> -->
<!--===============================================================================================-->
<style>
	.login100-form-avatar img {
    width: 100%;
    height: -webkit-fill-available;
}
.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
.wrap-login1001 {
    width: 30%;
    background: transparent;
    height: 90vh;
    padding-right: 26px;
}
.cvs {
    display: flex;
    flex-direction: column;
    align-items: center;
}
</style>
</head>
<body id="bdy">
	
	<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#">MONEYVOL</a>
	  
		<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
		  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item active">
			  <a class="nav-link" href="/niftyvol">NIFTY VOL<span class="sr-only">(current)</span></a>
			</li>
		
			<li class="nav-item">
                <a class="nav-link" href="/niftyvomma">NIFTY VOMMA<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Go Back<span class="sr-only">(current)</span></a>
              </li>
		  </ul>
		</div>
	  </nav>	
	
	  <!-- <div id="potter-animation" style="z-index:1000"></div> -->






	<div class="limiter">
		<div class="container-login100" style="background-image: url('/stylesheets/STOCK_AVATAR.jpg');">
			<div class="wrap-login1001 p-t-190 p-b-30">
                <div class="cvs">
					<div class="login100-form-avatar">
						<img src="/stylesheets/STOCK_GROW.png" alt="AVATAR">
					</div>

					<span class="login100-form-title p-t-20 p-b-45" style="font-family: 'Montserrat Alternates', sans-serif;">
						MONEYVOL
					</span>

                    
					<div class="container-login100-form-btn p-t-10" style="font-family: 'Montserrat Alternates', sans-serif;">
						<button class="login100-form-btn"  style="font-family: 'Montserrat Alternates', sans-serif;">
							<a href="/niftyvol" style="color: white;">SEE PREV DAY DECAY NIFTY</a>
						</button>
					</div>

					<div class="container-login100-form-btn p-t-10" style="font-family: 'Montserrat Alternates', sans-serif;">
						<button class="login100-form-btn"  style="font-family: 'Montserrat Alternates', sans-serif;">
							<a href="/niftyvol" style="color: white;">SEE CURRENT DAY DECAY NIFTY</a>
						</button>
					</div>

			</div>
        </div>
		</div>
	</div>
	
	

<!--===============================================================================================-->	
<script src="/js/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/js/popper.js"></script>
	<script src="/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/js/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/js/main2.js"></script>
	
<script src='https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.7.1/bodymovin.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script><script  src="./script.js"></script>

<!-- <script src="/js/pottermain.js"></script> -->


</body>
</html>