<!DOCTYPE html>
<!-- Same as the default layout except footer is not included. -->
<html>
  <head>
      <title>MONEYVOL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="shortcut icon" type="image/x-icon" href="/monitor/static/images/favicon.png"> -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" media="screen">
    <script src="https://use.fontawesome.com/fcfefdb808.js"></script>
   
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/pure.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/grids-responsive.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
  </head>
  <body>
    <div class="sqzme-container">
       
  <nav class="navbar navbar-expand-lg navbar-light bg-light">


                                                                                                                                   
    


    <a class="navbar-brand" href="/">MONEYVOL</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    
      <span class="navbar-toggler-icon"></span>
    
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    
      <div class="navbar-nav">
        <a class="nav-item nav-link active px-3" href="/niftyvol">NIFTY VOL<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active px-3" href="/">HOME<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active px-3" href="/niftyvol/">DECAY<span class="sr-only">(current)</span></a>
        
      </div>
    
    </div>
  
  </nav>

      <!-- <div class="sqzme-navigation pure-g" id="menu"> -->
        <style>
          .sqzme-splash-button {
    display: block;
    width: 29em;
    margin: auto;
    margin-top: 44px;
    background: rgb(52,63,70) !important;
    font-family: cursive;
    color: white !important;
    padding: 1em 3.1em !important;
    border-radius: 10px;
    transition: all 0.25s ease;
    font-size: larger;
}
.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

</style>

<!-- <div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-menu">
    <a href="/" class="pure-menu-heading custom-brand" style="padding:0.2em 1em 0.25em 1em;">
      <i class="sqzme-yellow fa fa-lemon-o"></i>
        <span style="font-family:OpenSans;font-size:1.2em;text-transform:none;">
          MONEYVOL<span style="color:#bfbfbf;">me
          </span>
        </span>
    </a>
    <a href="#" class="custom-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
  </div>
</div>
<div class="pure-u-1 pure-u-md-1-3">
  <div class="pure-menu pure-menu-horizontal custom-can-transform">
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a class="pure-menu-link" href="/">Benefits</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/">Documentation</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link" href="/">Plans</a></li>
    </ul>
  </div>
</div>


      </div> -->
      <div class="sqzme-content">
        
<link rel="stylesheet" type="text/css" href="/stylesheets/splash.css">
<script src="/js/d3.min.js" charset="utf-8"></script>

  <div id="login-box" class="pure-g">
    <div class="sqzme-splash-login pure-u-1">

      <style>
        #bulb-box { width:50%; }
        #login-box { display:block; }
       </style>
      <form action="/niftyvol" target="_blank">
        <button class="sqzme-splash-button pure-button" onclick="ga('send', 'event', 'White Paper', 'Download', 'Short is Long')">NIFTY IMPLIED V/S REALIZED &nbsp;<i class="fa fa-file-text-o"></i></button>
      </form>
      <form action="/niftyvomma">
        <button class="sqzme-splash-button pure-button">NIFTY VOMMA&trade; &nbsp;<i class="fa fa-bar-chart"></i></button>
      </form>

    </div>  <!--login-box-->
  </div>  <!--sqzme-splash-login-->
  <div id="bulb-box" style="text-align:center;">
    <div id="quote-box" style="width:80%;margin:auto;margin-top:3em;">

      <h3 id="q0" class="sqzme-splash-quote"><i class="fa fa-quote-left quotation-mark"></i> The conceptual link between short sales and investor buying activity&#8212;the key to understanding what "short volume" really means&#8212has never been clearly drawn before [now].</h3>

      <h3 id="q1" class="sqzme-splash-quote"><i class="fa fa-quote-left quotation-mark"></i> Whenever a market-maker fills an investor's buy order, the MM is facilitating the trade by shorting shares.</h3>

      <h3 id="q2" class="sqzme-splash-quote"><i class="fa fa-quote-left quotation-mark"></i> If you submit an order to buy 100 shares of XYZ at the market, you will buy those shares from an HFT.</h3>

      <h3 id="q3" class="sqzme-splash-quote"><i class="fa fa-quote-left quotation-mark"></i> Trades marked with the seller "short" comprise about 49% of equity share volume [ ... ] it's no coincidence.</h3>

      <h3 id="q4" class="sqzme-splash-quote"><i class="fa fa-quote-left quotation-mark"></i> The Dark Index&trade; (DIX&trade;) has chronicled, in dollar-weighted terms, dark pool short volume across all components of the S&P 500<sup>&reg;</sup> since 2011.</h3>

      <h3 id="q5" class="sqzme-splash-quote"><i class="fa fa-quote-left quotation-mark"></i> Very high relative percentages (&#8805;45%) of dollar-weighted short volume are associated with mean 60-market-day returns of 5.3%, as compared to a mean of 2.8% across the whole dataset.</h3>

      <h3 id="q6" class="sqzme-splash-quote"><i class="fa fa-quote-left quotation-mark"></i> High levels of short volume correspond to positive medium-to-long term investor outlooks.</h3>

      <h3 id="q7" class="sqzme-splash-quote"><i class="fa fa-quote-left quotation-mark"></i> The SEC worries that providing too much data to the public may facilitate strategies disruptive to liquidity providers.</h3>

      <h3 id="q8" class="sqzme-splash-quote"><i class="fa fa-lemon-o sqzme-yellow"></i> MONEYVOL<span style="color:gray;">me!</span></h3>

    </div>
  </div>

  <div class="sqzme-splash-footer">
    <p style="text-align:center;">
      <a href="/contact" style="text-decoration:none;color:lightgray;">Contact</a> | 
      <a href="/terms" style="text-decoration:none;color:lightgray;">Legal</a> |
      <a href="/" style="text-decoration:none;color:lightgray;">GEX</a>
    </p>
  </div>

<script src="/js/splash.js" charset="utf-8"></script>

      </div>
    </div>
    <div>
  </body>
    <script type="text/javascript" src="/js/main.js"></script>
    <script>

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-72503531-1', 'auto');
ga('send', 'pageview');

    </script>
</html>